In [2]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import preprocessing

In [3]:
d= pd.read_csv("Churn_Modelling.csv")
d

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
d["Gender"]=d["Gender"].map({"Female": 1, "Male": 0})
d

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,1,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,1,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,1,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,1,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,1,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,0,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,0,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,1,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,0,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,1,28,4,130142.79,1,1,0,38190.78,0

In [5]:
data=d.drop(["RowNumber","Surname"],axis=1)
data

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,619,France,1,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,1,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,1,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,1,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,1,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,France,0,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,0,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,1,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,0,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,1,28,4,130142.79,1,1,0,38190.78,0

In [6]:
df= pd.get_dummies(data, columns =["Geography"])
df

,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,15634602,619,1,42,2,0.00,1,1,1,101348.88,1,True,False,False
1,15647311,608,1,41,1,83807.86,1,0,1,112542.58,0,False,False,True
2,15619304,502,1,42,8,159660.80,3,1,0,113931.57,1,True,False,False
3,15701354,699,1,39,1,0.00,2,0,0,93826.63,0,True,False,False
4,15737888,850,1,43,2,125510.82,1,1,1,79084.10,0,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,0,39,5,0.00,2,1,0,96270.64,0,True,False,False
9996,15569892,516,0,35,10,57369.61,1,1,1,101699.77,0,True,False,False
9997,15584532,709,1,36,7,0.00,1,0,1,42085.58,1,True,False,False
9998,15682355,772,0,42,3,75075.31,2,1,0,92888.52,1,False,True,False
9999,15628319,792,1,28,4,130142.79,1,1,0,38190.78,0,True,False,False

In [7]:
y = df["Exited"]
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [8]:
x= df.drop(["Exited"],axis=1)
x

,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,15634602,619,1,42,2,0.00,1,1,1,101348.88,True,False,False
1,15647311,608,1,41,1,83807.86,1,0,1,112542.58,False,False,True
2,15619304,502,1,42,8,159660.80,3,1,0,113931.57,True,False,False
3,15701354,699,1,39,1,0.00,2,0,0,93826.63,True,False,False
4,15737888,850,1,43,2,125510.82,1,1,1,79084.10,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15606229,771,0,39,5,0.00,2,1,0,96270.64,True,False,False
9996,15569892,516,0,35,10,57369.61,1,1,1,101699.77,True,False,False
9997,15584532,709,1,36,7,0.00,1,0,1,42085.58,True,False,False
9998,15682355,772,0,42,3,75075.31,2,1,0,92888.52,False,True,False
9999,15628319,792,1,28,4,130142.79,1,1,0,38190.78,True,False,False

In [9]:
y=pd.DataFrame(y)
y

      Exited
0          1
1          0
2          1
3          0
4          0
...      ...
9995       0
9996       0
9997       1
9998       1
9999       0

[10000 rows x 1 columns]

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=10)
x_train.shape

(7500, 13)

In [11]:
y_train.shape

(7500, 1)

In [12]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train,y_train)

C:\Users\salon\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [13]:
model.predict(x_test)

array([0.81, 0.47, 0.67, ..., 0.02, 0.32, 0.12])

In [14]:
model.score(x_test,y_test)

0.3177255379093341

In [15]:
deci_tree =DecisionTreeClassifier(criterion ="entropy") # By default gini
deci_tree.fit(x_train,y_train)
prediction=deci_tree.predict(x_test)

In [16]:
accuracy_hold=accuracy_score(y_test,prediction)
a1= accuracy_hold*100
print( " Accuracy for Decision Tree",a1 ,"%")

 Accuracy for Decision Tree 78.96 %

In [17]:
knn = KNeighborsClassifier()
knn.fit(x_train,y_train)
prediction2 = knn.predict(x_test)
print("Accuracy for K-nearest ")
a2 = accuracy_score(y_test,prediction2)
print(a2 *100)

C:\Users\salon\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\neighbors\_classification.py:238: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

Accuracy for K-nearest
75.24

In [19]:
nb=GaussianNB()
nb.fit(x_train,y_train)
prediction_nb =nb.predict(x_test)

print("Accuracy of Test Data")
nb_score=accuracy_score(y_test,prediction_nb)

a3 = nb_score*100
print("Naive Bayes Accuracy :",a3,"%")

C:\Users\salon\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy of Test Data
Naive Bayes Accuracy : 77.92 %

In [28]:
from sklearn import svm
sv = svm.SVC(kernel='linear') # Linear Kernel

In [30]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_standard = scaler.fit_transform(x_train)
x_test_standard = scaler.transform(x_test)
sv.fit(x_train_standard, y_train)
y_pred = sv.predict(x_test_standard)

C:\Users\salon\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [32]:
sv.fit(x_train_standard, y_train)
sv.score(x_test_standard, y_test)

C:\Users\salon\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\utils\validation.py:1300: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7944

In [33]:
from sklearn import metrics
svm_score =accuracy_score(y_test, y_pred)
a4= svm_score*100
print("SVM Accuracy :", a4,"%")

SVM Accuracy : 79.44 %